@page "/"

<PageTitle>Home</PageTitle>

<h1>Bienvenido</h1>

<h2>Si deseas Agregar una Prioridad Presione Aqui abajo !!!</h2>
<a href="/prioridad/Agregar">Prioridad</a>


<h2>Si deseas Agregar un Cliente Presione Aqui abajo !!!</h2>
<a href="/cliente/Agregar">Cliente</a>


<h2>Si deseas Agregar un Sistema Presione Aqui abajo !!!</h2>
<a href="/sistema/Agregar">Sistema</a>


<h2>Si deseas Agregar un Ticket Presione Aqui abajo !!!</h2>
<a href="/ticket/Agregar">Ticket</a>
